/* 
	9. Age Groups

Write down a query that creates 7 different groups based on their age.
Age groups should be as follows:
	• [0-10]
	• [11-20]
	• [21-30]
	• [31-40]
	• [41-50]
	• [51-60]
	• [61+]

The query should return
	• Age groups
	• Count of wizards in it

Example
	AgeGroup	WizardCount
	[11-20]		21
	…			…
*/

WITH AgeGroups AS (
	SELECT 
		CASE
			WHEN Age BETWEEN 0 AND 10 THEN '[0-10]'
			WHEN Age BETWEEN 11 AND 20 THEN '[11-20]'
			WHEN Age BETWEEN 21 AND 30 THEN '[21-30]'
			WHEN Age BETWEEN 31 AND 40 THEN '[31-40]'
			WHEN Age BETWEEN 41 AND 50 THEN '[41-50]'
			WHEN Age BETWEEN 51 AND 60 THEN '[51-60]'
			WHEN Age >= 61 THEN '[61+]'
		END AS AgeGroup
	FROM WizzardDeposits)
SELECT 
	AgeGroup, 
	COUNT(AgeGroup) AS WizardCount
FROM AgeGroups
GROUP BY AgeGroup;
