/*
	4. Find Salary of Each Employee

Create a SQL query that finds the first name, last name and salary for each employee.
Example
	FirstName	LastName	Salary
	Guy			Gilbert		12500.00
	Kevin		Brown		13500.00
	Roberto		Tamburello	43300.00
	…			…			…
*/

-- USE SoftUni;

SELECT FirstName, LastName, Salary
FROM Employees;