/*
	7. Find All Different Employees' Salaries

Create a SQL query that finds all different salaries of the employees. 
Display the salaries only in one column, named 	"Salary".
Example:
	Salary
	9000.00
	9300.00
	9500.00
	…
*/

-- USE SoftUni;
SELECT DISTINCT Salary FROM Employees;