/*
	2. Find All the Information About Departments

Create a SQL query that finds all the available information about the Departments.
Example:
	DepartmentID	Name			ManagerID
	1				Engineering		12
	2				Tool Design		4
	3				Sales			273
	…				…				…
*/

-- USE SoftUni;
SELECT * FROM Departments;
