/*
	18. Distinct Job Titles

Create a SQL query that finds all distinct job titles.
Example
	JobTitle
	Accountant
	Accounts Manager
	Accounts Payable Specialist
	…
*/

SELECT DISTINCT 
	JobTitle 
FROM 
	Employees;
